body{
    background-color: whitesmoke;
}
.jumbotron {
    background-image: url(images/officeHead.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: bisque;
}